In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

데이터 불러오기 및 확인

In [4]:
library_count=pd.read_csv('library_count.csv')
library_people=pd.read_csv('library_people.csv')
library_books=pd.read_csv('library_books.csv')
library_seat=pd.read_csv('library_seat.csv')
academy=pd.read_csv('academy.csv')
home=pd.read_csv('home.csv')

In [5]:
library_count.head()

  자치구별  2018_count  2019_count  2020_count  2021_count  2022_count
0  종로구           7           7           7           7           7
1   중구           5           5           6           9           9
2  용산구           4           4           4           4           4
3  성동구           6           6           7           7           7
4  광진구           4           4           5           5           7

In [6]:
library_people.head()

  자치구별  2018_people  2019_people  2020_people  2021_people  2022_people
0  종로구      3843581      4112688      1320439      1870094      3121980
1   중구      1682720      1598663       383798       660273      1318271
2  용산구      2266969      2332135       951797      1644207      1323081
3  성동구      3081900      2903130       492697       484024      1217900
4  광진구      2342446      2518424       827789      1285690      1664321

In [7]:
library_books.head()

   2018_books  2019_books  2020_books  2021_books  2022_books
0     1206708     1237509     1248380     1266108     1269647
1      588802      631098      690958      776981      843810
2      903055      913160      918125      915563      919433
3      551969      525438      543068      557187      564108
4      371160      395514      439771      477663      518656

In [8]:
library_seat.head()

  자치구별  2018_seat  2019_seat  2020_seat  2021_seat  2022_seat
0  종로구       2426       2399       2424       3014       2955
1   중구        699        689        810       1049       1007
2  용산구       1545       1587       1557       1471       1214
3  성동구       1691       1675       1688       1508       1508
4  광진구       1346       1348       1523       1392       1512

In [9]:
academy.head()

  자치구별  2018_academy  2019_academy  2020_academy  2021_academy  2022_academy
0  종로구           274           259           243           217           248
1   중구           119           118           109            91           108
2  용산구           158           155           154           137           151
3  성동구           314           293           289           290           294
4  광진구           430           406           405           426           441

In [10]:
home.head()

     2018_home    2019_home    2020_home    2021_home    2022_home
0   720.836416   807.772899   830.129343   946.529098   994.746521
1   837.169941   969.448011  1083.455562  1087.791713  1030.691087
2  1085.173459  1233.552696  1326.059403  1443.340526  1624.832173
3   977.713806  1154.246388  1290.205981  1389.203683  1615.105428
4   731.763072   832.195807   888.363081   945.189554   956.249744

----

두 요소 간의 상관관계 파악

In [11]:
#확인해볼 상관관계

#도서관 수 & 도서관 이용자 수
#도서관 수 & 도서관 좌석수
#도서관 수 & 부동산 거래가

#도서관 자료 수 & 도서관 이용자 수
#도서관 자료 수 & 근처 학원 수 

#도서관 좌석수 & 도서관 이용자 수
#도서관 자료수 & 근처 학원 수

#도서관 이용자 수 & 도서관 좌석 수 
#도서관 이용자 수 & 근처 학원 수 
#도서관 이용자 수 & 부동산 거래가

In [12]:
#도서관 수 & 도서관 이용자 수

# 자치구별을 제외한 나머지 열 이름에서 년도를 추출합니다.
# 두 데이터프레임 모두 같은 구조를 가지고 있으므로, 한 데이터프레임에서 열 이름을 추출합니다.
years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.

for year in years:
    count_column = f'{year}_count'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_people'  # library_people 데이터프레임의 열 이름
    correlation = library_count[count_column].corr(library_people[people_column])

correlation

0.9959604425606577

In [13]:
#도서관 좌석수 & 도서관 수

years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.

for year in years:
    count_column = f'{year}_seat'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_count'  # library_people 데이터프레임의 열 이름
    correlation = library_seat[count_column].corr(library_count[people_column])

correlation

0.9971305348789481

In [14]:
#도서관 수 & 집값

# 자치구별을 제외한 나머지 열 이름에서 년도를 추출합니다.
# 두 데이터프레임 모두 같은 구조를 가지고 있으므로, 한 데이터프레임에서 열 이름을 추출합니다.
years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.
for year in years:
    count_column = f'{year}_count'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_home'  # library_people 데이터프레임의 열 이름
    correlation = library_count[count_column].corr(home[people_column])

correlation

0.026171314726339608

----------------------------------------------------------------

In [15]:
#도서관 자료수 & 도서관 이용자수

# 자치구별을 제외한 나머지 열 이름에서 년도를 추출합니다.
# 두 데이터프레임 모두 같은 구조를 가지고 있으므로, 한 데이터프레임에서 열 이름을 추출합니다.
years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.

for year in years:
    count_column = f'{year}_books'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_people'  # library_people 데이터프레임의 열 이름
    correlation = library_books[count_column].corr(library_people[people_column])

correlation

0.7629894396297955

In [16]:
#도서관 좌석수 & 학원수

# 자치구별을 제외한 나머지 열 이름에서 년도를 추출합니다.
# 두 데이터프레임 모두 같은 구조를 가지고 있으므로, 한 데이터프레임에서 열 이름을 추출합니다.
years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.
for year in years:
    count_column = f'{year}_academy'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_seat'  # library_people 데이터프레임의 열 이름
    correlation =academy[count_column].corr(library_seat[people_column])

correlation

0.9869877412469134

----------------

In [17]:
#도서관 이용자수 & 도서관 좌석수

years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.

for year in years:
    count_column = f'{year}_seat'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_people'  # library_people 데이터프레임의 열 이름
    correlation = library_seat[count_column].corr(library_people[people_column])

correlation

0.9984334630651189

In [18]:
#학원수 & 도서관 자료수

# 자치구별을 제외한 나머지 열 이름에서 년도를 추출합니다.
# 두 데이터프레임 모두 같은 구조를 가지고 있으므로, 한 데이터프레임에서 열 이름을 추출합니다.
years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.
for year in years:
    count_column = f'{year}_academy'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_books'  # library_people 데이터프레임의 열 이름
    correlation = academy[count_column].corr(library_books[people_column])

correlation

0.27030559362949497

---------

In [19]:
#도서관 이용자수 & 도서관 좌석수

years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.

for year in years:
    count_column = f'{year}_seat'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_people'  # library_people 데이터프레임의 열 이름
    correlation = library_seat[count_column].corr(library_people[people_column])

correlation

0.9984334630651189

In [20]:
#학원수 & 도서관 이용자수

# 자치구별을 제외한 나머지 열 이름에서 년도를 추출합니다.
# 두 데이터프레임 모두 같은 구조를 가지고 있으므로, 한 데이터프레임에서 열 이름을 추출합니다.
years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.
for year in years:
    count_column = f'{year}_academy'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_people'  # library_people 데이터프레임의 열 이름
    correlation = academy[count_column].corr(library_people[people_column])

correlation

0.9895793946475334

In [21]:
#도서관 이용자수 & 집값

# 자치구별을 제외한 나머지 열 이름에서 년도를 추출합니다.
# 두 데이터프레임 모두 같은 구조를 가지고 있으므로, 한 데이터프레임에서 열 이름을 추출합니다.
years = ['2018', '2019', '2020', '2021', '2022']

# 각 년도별로 반복하여 산점도를 그립니다.
for year in years:
    count_column = f'{year}_home'  # library_count 데이터프레임의 열 이름
    people_column = f'{year}_people'  # library_people 데이터프레임의 열 이름
    correlation =home[count_column].corr(library_people[people_column])

correlation

0.20319306745016796